@inject Microsoft.AspNetCore.Identity.SignInManager<Microsoft.AspNetCore.Identity.IdentityUser> user
@inject Microsoft.AspNetCore.Identity.RoleManager<Microsoft.AspNetCore.Identity.IdentityRole> role

@if (user.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="user nav-link text-light" asp-area="" asp-controller="User" asp-action="GetAllUser">All Users</a>
                </li>
            </ul>
        </div>
    }
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="user nav-link text-light border border-white rounded" asp-area="" asp-controller="User" asp-action="Profile">@User.Identity.Name</a>
            </li>
            <li class="nav-item">
                <a class="user nav-link text-light bg-danger rounded" asp-area="" asp-controller="User" asp-action="Logout">Log out</a>
            </li>
        </ul>
    </div>
}
else
{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Login">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="SignUp">Sign Up</a>
            </li>
        </ul>
    </div>
}

<style>
    .user{
        margin-left:20px;
    }
</style>
